@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');



$green : #27ae60;
$black : #130f40;
$white : #fff;
$light-color : #666;
$light-bg : #f7f7f7;
$border: 1rem solid rgba(0,0,0,.2);
$box-shadow : 0 1rem 1rem rgba(0,0,0,.05);




* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}



body {
    background-color: #d24822;
}

